@media (min-width: 800px) {
    /* web */

    .row6:after {
        content: "";
        display: table;
        clear: both;
        text-align: center !important;
    }

    .row6 {
        width: 100%;
    }

    .column6 {
        float: left;
        width: 16%;
    }

    .imglogo{
        width: 40%;
    }

}


@media (max-width: 800px) {

    /* mobile */
    .logohead {
        width: 10vh;
    }

    .row6 {
        width: 100%;
    }

    .column6 {
        float: left;
        width: 16%;
    }

    .imglogo{
        width: 100%;
    }


}

.botoncitosheader {

    margin: 15px 10px 0px 10px;
    padding: 10px;
    font-family: 'Kg-second-chances';
}


.btn1 {
    color: white;
    font-family: 'Kg-second-chances';
    background-color: #E66869;
    border: 1px solid #E66869;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}