.letra {
    color: white;
    font-weight: bold;
    font-family:'Nunito-Bold';
    margin-top: 6px;
    margin-left: -15px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    /* display: table;
    clear: both;  */
}

@media (max-width: 868px) {
    .letra {
        display: none;
    }
}